.contenedor{
    width: 100%;
}

.contenedor__tabla{
    width: 100%;
    margin-top: 20px;
    background-color: var(--tabla-bg);
}
.tabla__cabecera{
    text-align: center;
    background-color: var(--tabla-cabecera);
    color: var(--tabla-cabecera-texto);
    padding: 10px;
}
.tabla__cabecera td{
    padding: 10px;
}
.contenedor__tabla tr td{
    text-align: center;
}
.tabla__fila-productos{
    background: var(--tabla-fila-bg);
    color: var(--tabla-fila-texto);
}
.tabla__fila-productos:nth-child(even){
    background: var(--tabla-bg);
}
/* contenido de la tabla  */
.imagen{
    padding: 5px 0;
}
.imagen img{
    width: 50px;
    display: block;
    margin: 0 auto;
}
