.error{
    width: 400px;
    height: 60px;
    background-color: rgb(240, 118, 118);
    border: 2px solid rgb(238, 71, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}