.contenedor-form{
    display: flex;
    gap: 10px;
    background-color: var(--formulario-bg);
    padding: 20px;
    margin-top: 20px;
}

.form{
    width: 70%;
    margin: 0 auto;
    padding: 20px 10px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 10px;
}
.form__titulo{
    text-align: center;
    font-weight: 400;
}
.form__label{
    display: block;
    color: var(--formulario-label-texto);
}

.form__label:nth-child(1),.form__label:nth-child(2),.form__label:nth-child(5){
    grid-column: span 2;
}
.form h3,.form__label:nth-child(6){
    grid-column: span 4;
}

.label__input{
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0;
    display: block;

    border: none;
    outline: none;
    background-color: var(--formulario-input-bg);
    color: var(--formulario-input-texto);
}
.form__btn,.desactivar-btn,.activar-btn{
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--formulario-boton-bg);
    color: var(--formulario-boton-texto);
    transition: .5s;
}
.desactivar-btn{
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}
.activar-btn{
    pointer-events: all;
    opacity: 1;
    cursor: auto;
}
.form__btn:hover{
    background-color: var(--formulario-boton-bg-hover);
    color: var(--formulario-boton-bg-hover-texto);
}
.contenedor-form img{
    width: 30%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

