/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');

:root{
    /* nuevas variables css */
    --body-bg:#fdfdfd;
    /* --body-bg:#1b1e23; */

    /* variables de la navegacion nav o sidebar */
    --navegacion-bg: #dcdde0;
    --navegacion-logo-texto: #121212;
    --navegacion-enlace-hover:#4e8be1;
    --navegacion-enlace-hover-texto:#ffffff;
    --navegacion-enlace-texto:#121212;
    --navegacion-cerrar-sesion:#1e1e1e;
    
    /* paginas crear, editar, eliminar entre otras */
    --paginas-titulos: #121212;

    /* productos tabla */
    --tabla-bg: #fdfdfd;
    --tabla-cabecera:#4e8be1;
    --tabla-cabecera-texto: #ffffff;
    --tabla-fila-bg: #fdfdfd;
    --tabla-fila-bg-even: #f4f4f4;
    --tabla-fila-texto:#191919;

    /* crear producto */
    --formulario-bg: #f4f4f4;
    --formulario-label-texto: #0a0a0a;
    --formulario-input-bg:#dcdde0;
    --formulario-input-texto:#0a0a0a;
    --formulario-boton-bg: #4e8be1;
    --formulario-boton-texto:#ffffff;
    --formulario-boton-bg-hover:#3c7cd5;
    --formulario-boton-bg-hover-texto: #fff;

    --selecion-bg: #dcdde0;
    --selecion-texto:#0a0a0a;

    /* buscar */
    --buscar-form-bg: #fdfdfd;
    --buscar-form-input: #dcdde0;
    --buscar-form-input-texto:#0a0a0a;
    --buscar-form-input-border-bg:#3c7cd5;
    --buscar-form-boton-bg:#4e8be1;
    --buscar-form-boton-texto:#ffffff;

    --font: 'Poppins', sans-serif;
    --navegacion-width: 300px


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    background-color: var(--body-bg);
    font-family: var(--font);
    overflow-y: scroll;
}

body::-webkit-scrollbar{
    width: 0;
}
#root{
    margin-left: var(--navegacion-width);
    padding: 20px;
}

.desactivar #root{
    margin-left: 0;
}

.modoOscuro body{
    /* dark */
    
     /* nuevas variables css */
     --body-bg:#121316;
     /* --body-bg:#1b1e23; */
 
     /* variables de la navegacion nav o sidebar */
     --navegacion-bg: #131418;
     --navegacion-logo-texto: #bfc7d1;
     --navegacion-enlace-hover:#02c29b;
     --navegacion-enlace-hover-texto:rgb(0, 0, 0);
     --navegacion-enlace-texto:#bfc7d1;
     --navegacion-cerrar-sesion:#9c9c9c;
     
     /* paginas crear, editar, eliminar entre otras */
     --paginas-titulos: #e0e3e7;
 
     /* productos tabla */
     --tabla-bg: #1b1e23;
     --tabla-cabecera:#02c29b;
     --tabla-cabecera-texto: #0a0a0a;
     --tabla-fila-bg: #131418;
     --tabla-fila-bg-even: #121316;
     --tabla-fila-texto:#9c9c9c;
 
     /* crear producto */
     --formulario-bg: #121316;
     --formulario-label-texto: #bfc7d1;
     --formulario-input-bg:#1b1e23;
     --formulario-input-texto:#bfc7d1;
     --formulario-boton-bg: #1b1e23;
     --formulario-boton-texto:#bfc7d1;
     --formulario-boton-bg-hover:#02c29b;
     --formulario-boton-bg-hover-texto: #000;

 
     --selecion-bg: #1b1e23;
     --selecion-texto:#bfc7d1;
 
     /* buscar */
     --buscar-form-bg: #121316;
     --buscar-form-input: #1b1e23;
     --buscar-form-input-texto:#bfc7d1;
     --buscar-form-input-border-bg:#02c29b;
     --buscar-form-boton-bg:#1b1e23;
     --buscar-form-boton-texto:#bfc7d1;
 
 
     --font: 'Poppins', sans-serif;
     --navegacion-width: 300px
}