.navegacion {
    width: var(--navegacion-width);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--navegacion-bg);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
}

.navegacion__logo {
    color: var(--navegacion-logo-texto);
    font-weight: 400;
}

.navegacion__ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navegacion__li {
    width: 100%;
    background-color: var(--primary-100);
    border-radius: 5px;
    transition: background-color .5s;
}

.li-active{
    background-color: var(--navegacion-enlace-hover);
}

.li-active .navegacion__enlace{
    color: var(--navegacion-enlace-hover-texto);
    fill: var(--navegacion-enlace-hover-texto);
}
.navegacion__li:hover{
    background-color: var(--navegacion-enlace-hover);
}

.navegacion__li:hover .navegacion__enlace{
    color: var(--navegacion-enlace-hover-texto);
    fill: var(--navegacion-enlace-hover-texto);
}
.navegacion__enlace {
    display: block;
    text-decoration: none;
    color: var(--navegacion-enlace-texto);
    fill: var(--navegacion-enlace-texto);
    transition:  .5s ;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    gap: 7px;
}

.navegacion__enlace:hover{
    gap: 15px;
}
/* navegacion extra */

.navegacion__extra{
    padding: 35px 20px 0 20px;
    border-top: 3px solid var(--navegacion-enlace-hover);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.modo-oscuro-btn,.modo-pantalla-btn{
    width: max-content;
}

.navegacion__cerrar-sesion {
    color: var(--navegacion-cerrar-sesion);
    fill: var(--navegacion-cerrar-sesion);
    font-weight: 400;
    cursor: pointer;
    transition: color .5s;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
}

.navegacion__cerrar-sesion:hover {
    color: var(--navegacion-logo-texto);
}
